/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	body {
		background: #ffffdd;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	body {
		background: #ddffff;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		background: #ffddff;
	}
}